<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Employees:

<a href="/addEmployees">Add Employees</a>
<a href="/employees">view all Employees</a>



<table>

    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phoneNumber</th>
        <th>salary</th>
        <th>position</th>
        <th>companies</th>
        <th>picture</th>
        <th>employees</th>
    </tr>

    <tr th:each="employee:${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.company.name}"></td>
        <td >
            <img th:if="${employee.picUrl != null}" th:src="@{/getImage(picName=${employee.picUrl})}" width="100" height="100"/>
            <img th:if="${employee.picUrl == null}" th:src="@{/getImage(picName=${employee.picUrl})}" width="100" height="100"/>
        </td>
        <td ><a th:href="@{'/employees/byCompany/' + ${employee.company.id}}">view companyees employee</a></td>
    </tr>
</table>

</body>
</html>