<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Add Employees:



<form action="/addEmployees" method="post" >
    Name: <input type="text" name="name"/> <br>
    Surname:<input type="text" name="surname" /><br>
    Email:<input type="text" name="email"/><br>
    PhoneNumber:<input type="text" name="phone_number"/><br>
    Salary:<input type="text" name="salary"/><br>
    Position:<input type="text" name="position"/><br>
    Companies:
    <select name="company.id">
        <option th:each="comp : ${company}" th:text="${comp.name}" th:value="${comp.id}"></option>
    </select>
    <input type="submit" value="save">
</form>
</body>
</html>